#card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid red;
    padding: 20px;
}

header {
    width: 500px;
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
}

li {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
}

button {
    background-color: #46008C;
    border: none;
    text-align: center;
    color: white;
    border-radius: 7px;
    padding: .4em;
}